@import "bootstrap";
@import "root.scss";
@import "books.scss";
@import "book_show.scss";
@import "author_show.scss";

body {
  text-align: center;
  background-color: #222;
  height: 100vh;
  overflow: hidden;
}

a {
  &:hover {
    color: #00ffff;
    text-decoration: none;
  }
}

.form_container {
  width: 50%;
  margin: 0 auto;
}